
<nav class="nav-left">

	<div class="container">
		<div class="row">
			<ul>
  				<li class="item"><a href="{% url 'series_information' front_id='udi' init_date='2019-01-01' end_date='2019-01-31' %}" class="item__navh">UDI</a></li>
          <li class="item"><a href="{% url 'series_information' front_id='usd' init_date='2019-01-01' end_date='2019-01-31' %}" class="item__navh">USD</a></li>
					<li class="item"><a href="{% url 'tiie_comparisson' initial_date='2019-01-01' end_date='2019-01-31' %}" class="item__navh">TIIES</a></li>
			</ul>
		</div>

	</div>
</nav>
