{% extends "base.html" %}
{% block content %}
<body>
  <div class="container">

    <h2>{{series_general_info.series_name}}</h2>

    <table>
      <tr>
        <th>Min Value</th>
        <th>Max Value</th>
        <th>Average Value</th>
      </tr>
      <tr>
        <th>{{series_general_info.min_value}}</th>
        <th>{{series_general_info.max_value}}</th>
        <th>{{series_general_info.average_value}}</th>
      </tr>
    </table>


  </div>
  <br>
  <div class="container" id="date_picker">
    <form class="date_picker" method="get" onsubmit="handleDatePicker(event, '{{series_general_info.series_name}}')">
      <label for="init_date">Initial Date</label>
      <input name="init_date" type="date" value={{series_chart_info.intial_date}}>
      <label for="end_date">End Date</label>
      <input name="end_date" type="date" value={{series_chart_info.end_date}}>
      <input type="submit" class="btn" value="Change Date Range">
    </form>
  </div>
  <br>
  <div class="container" id="chart"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    function handleDatePicker(event, series){
      event.preventDefault()

      init_date = event.target["init_date"].value
      end_date = event.target["end_date"].value

      if (init_date > end_date) {
        alert("Initial date should not be greater that end date");
        return;
      }

      console.log(init_date)
      console.log(end_date)
      url = "/series/"+series+"/"+init_date+"/"+end_date
      window.location.href = url
    }


    Highcharts.chart('chart', {
      title: {
          text: '{{series_general_info.series_name}} Values Over Time'
      },
      yAxis: {
          title: {
              text: 'Mexican Peso'
          }
      },
      xAxis: {
           categories: [{% for date in series_chart_info.series_dates %}'{{ date }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
      },
      series: [{
          name: '{{series_general_info.series_name}}',
          data: {{series_chart_info.series_values}}
      }],
    });
  </script>

</body>

{% endblock %}
